// Fonts
$main_font : Arial, Helvetica, sans-serif;

// Media Queries 
$phone : 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$primary: rgba(13, 110,139, .75);
$secondary: rgba(229,148,0, 0.9);
$overlay: rgba(24,39,51, 0.85);
$menuSpeed: 0.75s;
$black: #000000;
$white: #FFFFFF;