@import 'variables';
@import 'mixins';

html {
    @include box-sizing(border-box);

}
*, {
  margin: 0;
  padding: 0;
}
*,
*:after,
*:before {
  @include box-sizing(inherit);
}

body {
  margin: 0;
  padding: 0;
  font-family: $main_font;
  line-height: 1.4;

}

h1,h2,h3,h4,h5, p {
  margin: 0; 
  padding:0;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

#showcase {
  background: $primary;
  color:$white;
  height: 100vh;
  position: relative;
  &:before {
    content: '';
    background: url('../img/sky.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 1.3rem;
  }
  .btn {
    display: inline-block;
    border: unset;
    background: $primary;
    color:$white;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    transition: all .3s ease;
    &:hover {
      opacity: 0.8;
    }
  }
}

.menu-wrap {
  position: fixed;
  top:0;
  left:0;
  z-index: 1;

  .toggler {
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;

    &:checked ~ .menu {
      visibility: visible;
    }
    &:checked ~ .menu > div {
      transform: scale(1);
      transition-duration: $menuSpeed;
    }
    &:checked ~ .menu > div > div {
      opacity: 1;
      transition: opacity 0.4s ease 0.4s
    }
    &:checked + .hamburger > div {
      transform: rotate(135deg);
    }
    &:checked + .hamburger > div:before,
    &:checked + .hamburger > div:after {
      top: 0;
      transform: rotate(90deg);
    }
    &:checked:hover + .hamburger > div {
      transform: rotate(225deg);
    }

  }

  .hamburger {
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: $primary;
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
      position: relative;
      flex: none;
      width: 100%;
      height: 2px;
      background: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.4s ease;

      &:before,
      &:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
      }
      &:after {
        top: 10px; 
      }
    }
  }
  
  .menu {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
      border-radius: 50%;
      background: $overlay;
      width: 300vw;
      height: 300vw;
      display: flex;
      flex:none;
      align-items: center;
      justify-content: center;
      transform: scale(0);
      transition: all 0.4s ease;

      > div {
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;

        > ul > li {
          color:#fff;
          font-size: 1.5rem;
          padding: 1rem;
          a {
            color: inherit;
            transition: color 0.4s ease;
          }
          a:hover {
            color: $secondary;
          }
        }
      }
    }
  }
}













